--- 
layout: layout.njk
---
<body class="background">
  <div class="row">
    <div class="col">
      <div class="card-image-index ">
        <div class="slo"> Charles Cantin - Photographe</div>
        <img class="card-img-top" src="/photos/baloons.jpg" alt="photo de ballons dorés">
      </div>
    </div>
  </div>

  <div class="card m-1 text-center" id="presentation">
    <div class="card-body" id="presentation-div">
      <p class="card-text" id="presentation-text">" Vos moments de bonheur sont précieux.<br><br>Partageons les ensemble...<br> Convivialité, naturel, personnalisation, créons ensemble vos plus belles photos souvenirs.<br><br>A bientôt..."<br><br>Charles Cantin
      </p>
    </div>
  </div>

  <div class="card m-0  text-center" id="tarifs-portfolio">
    <div class="card-body" id="rappel-div">
      <a href="tarifs/index.html" class="card-title" id="text-rappel">Mes tarifs et prestations</a>
    </div>
    <div class="card-body" id="rappel-div">
      <a href="galerie/index.html" class="card-title" id="text-rappel">Mon portfolio</a>
    </div>
  </div>

  <div class="d-flex flex-wrap" id="photo">
    <div class="card" id="photo-index">
      <img class="card-img-top" src="photos\famille1.jpg" alt="photo d'une femme et de sa fille" id="photo-index">
    </div>


    <div class="card" id="photo-index">
      <img class="card-img-top" src="photos\animal-compagnie.jpg" alt="photo d'un chat tigré" id="photo-index">
    </div>

    <div class="card" id="photo-index">
      <img class="card-img-top" src="photos\portrait.jpg" alt="photo d'une fille avec un sourire éclatant" id="photo-index">
    </div>

    <div class="card" id="photo-index">
      <img class="card-img-top" src="photos\couple-femme-enceinte.jpg" alt="photo d'un couple" id="photo-index">
    </div>

  </div>
</body>

</html>