--- 
layout: layout.njk
---

    <div class=" tarifs-background">

        <div class="row">
            <div class="col">
                <div class="card-image-index">
                    <div class="slo"> Charles Cantin - Photographe</div>
                    <img class="card-img-top" src="/photos/tarifs.jpg" alt="Card image cap">
                </div>

            </div>
        </div>

        <div>
            <div class="classique">
                <p class="classique-text">SEANCES CLASSIQUES</p>
            </div>
        </div>

        <div class="card-group">
            <div class="card rounded" id="card-tarifs">

                <div class="card-body">
                    <h5 class="card-title">"Juste moi"</h5>
                    <p class="card-text">Une séance d' 1 heure pour une personne en extérieur ou en studio, choisissez votre tenue, l'endroit, le décor...<br>25 photos
                    </p>
                    <p class="card-text"><small class="text-muted">130 €</small></p>
                </div>
            </div>

            <div class="card rounded" id="card-tarifs">

                <div class="card-body">
                    <h5 class="card-title">"Pour deux"</h5>
                    <p class="card-text">Une séance d' 1 heure pour deux personnes en extérieur ou en studio avec des fonds différents, au choix.<br>25 photos</p>
                    <p class="card-text"><small class="text-muted">195 €</small></p>
                </div>
            </div>

            <div class="card rounded" id="card-tarifs">

                <div class="card-body">
                    <h5 class="card-title">"Famille"</h5>
                    <p class="card-text">Pour la famille ou les amis jusqu'à 4 personnes, en extérieur ou en studio, 30 euros en supplément par personne au-delà de 4.<br>25 photos
                    </p>
                    <p class="card-text"><small class="text-muted">220 €</small></p>
                </div>
            </div>
        </div>

        <div>
            <div class="classique">
                <p class="classique-text">SEANCES EVENEMENTS</p>
            </div>
        </div>
        <div class="card-group">
            <div class=" card rounded" id="card-tarifs">

                <div class="card-body">
                    <h5 class="card-title">"Il était une fois"</h5>
                    <p class="card-text">Photo de grossesse (à votre domicile, en extérieur ou en studio).<br>
                    25 photos
                    </p>
                    <p class="card-text"><small class="text-muted">160 €</small></p>
                </div>
            </div>


            <div class="card rounded" id="card-tarifs">

                <div class="card-body">
                    <h5 class="card-title">"Mon bébé"</h5>
                    <p class="card-text">Photo d’enfant jusqu’à 3 ans (photo à domicile).
                        <br>25 photos
                    </p>
                    <p class="card-text"><small class="text-muted">100 €</small></p>
                </div>
            </div>



            <div class="card rounded" id="card-tarifs">

                <div class="card-body">
                    <h5 class="card-title">"J'immortalise l'événement"</h5>
                    <p class="card-text">Prestation de mariage, baptême ou autre sur devis. <a href="/contact/index.html" class="text-reset">Envoyez-moi un message</a> concernant votre demande.<br>Je vous répondrai dans les plus brefs délais.</p>
                </div>
            </div>
        </div>
</body>

</html>